[submodule "third_party/upstream/libkrun"]
	path = third_party/upstream/libkrun
	url = https://github.com/containers/libkrun.git
[submodule "third_party/upstream/libkrunfw"]
	path = third_party/upstream/libkrunfw
	url = https://github.com/containers/libkrunfw.git
